<footer id="footer">
    <ul class="icons">
	<li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
	<li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
	<li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
	<li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li>
	<li><a href="#" class="icon circle fa-dribbble"><span class="label">Dribbble</span></a></li>
    </ul>

    <ul class="copyright">
	<li>&copy; A2A</li>
    </ul>
</footer>
