<%@tag description="Head" pageEncoding="UTF-8"%>

<title>Camping Helper</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<t:scripts></t:scripts>
<t:css></t:css>